html {
  background-image: url("images.jpg");
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-shadow: black;
    text-shadow:
    0.04em 0 black,
    0 0.04em black,
    -0.04em 0 black,
    0 -0.04em black;
    opacity: 1;
  }
  
  

img {
  border-radius: 1000px;
  height: 500px;
  width: 500px;
}


body {
  margin: 0 auto;
  text-align: center;
}

img:hover {
	animation: rotate-btn 100s linear 100;
  -webkit-animation: rotate-btn 100s linear 100;
	color: white;
}
@keyframes rotate-btn {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(-36000deg);
  }
}
#mainmenu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-image: url(spele/sizzling.jpg);
    display: flex;
    align-items: stretch;
    justify-content: center;
    font-size: 20px;
    font-weight: bold;
    }
	
	#mainmenu li {
	float: left;
	}
	
	#mainmenu li a {
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	}
	
	#mainmenu li a:hover {
	background-color: #111;
	}
